.new-contact {
  min-height: calc(100vh - 100px);
  background-color: rgb(158, 231, 255);
  .new-contact-inner {
    padding: 30px 0;

    h3 {
      color: green;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
